/* 全体 */
article.owner-detail-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* 店舗詳細 */
.owner-detail-body {
    width: 48%;
    margin-right: 2%;
}

.owner-detail-body__title {
    display: flex;
    align-items: center;
}

.owner-detail-body__title>i {
    font-size: 0.5em;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 6px;
    margin-right: 10px;
    box-shadow: 2px 2px 4px;
    border-radius: 2px;
}

.owner-detail-body-edit__image-url > input {
    width: 100%;
}

.owner-detail-body__img {
    width: 100%;
    height: 65%;
}

.owner-detail-body__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.owner-detail-body__information {
    width: 100%;
    height: 35%;
}

.owner-detail-body__tags {
    margin-top: 5px;
    margin-bottom: 5px;
}

.owner-detail-body__detail-phrase > textarea{
    width: 100%;
}

/* 予約 */

.owner-detail-reservations-settings {
    width: 40%;
}
div[id*="owner-detail-reservation__main"] {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-left: 2%;
    background-color: #305DFF;
    box-shadow: 2px 2px 4px;
    border-radius: 10px;
    color: #fff;
}

.owner-detail-reservation__title {
    text-align: center;
    margin-top: 0;
    margin-bottom:0;
}

/* .owner-detail-reservation__top{
    color: #fff;
} */

.owner-detail-reservation__body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    width: 90%;
    font-size: 1.2vw;
}

.owner-detail-reservation__body>dt {
    width: 35%;
    /* font-size: 0.8em; */
    color: #fff;
}

.owner-detail-reservation__body>dd {
    width: 55%;
    margin-left: 0;
}

/* .owner-detail-reservation__form-body>input,
.owner-detail-reservation__form-body>select {
    display: block;
}
 */

