/* 全体 */
article.mypage-body {
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.mypage-username {
    text-align: center;
}

/* 予約 */
.mypage-reservations {
    width: 45%;
}

div[id*="mypage-reservation__main"]{
    width: 80%;
    padding-top: 10px;
    background-color: #305DFF;
    border-radius: 10px;
    box-shadow: 2px 2px 4px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 5px;
}

.mypage-reservation__title {
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.mypage-reservation__title > i {
    display: block;
}

dl[class*="mypage-reservation__detail"] {
    width: 80%;
    color: #fff;
    background-color: #4D7FFF;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7em;
    margin-top: 0;
}

dl[class*="mypage-reservation__detail"]>dt {
    width: 35%;
    margin-top: 5px;
    margin-bottom: 5px;
}

dl[class*="mypage-reservation__detail"]>dd {
    width: 45%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
}



/* お気に入り */
.mypage-favorites {
    width: 45%;
}

.mypage-favorites__main {
    display: flex;
    flex-wrap: wrap;
}